[submodule "webscraping"]
	path = webscraping
	url = https://github.com/i-ajlan/webscraping.git
[submodule "IA_Soccer_Prediction"]
	path = IA_Soccer_Prediction
	url = https://github.com/Jordaniakondzo/IA_Soccer_Prediction.git
